@media screen and (min-width:401px) {
  .navbar{
      flex-direction: row;
  }
  .navigation-container{
      flex-direction: row;
      width: 50%;
      justify-content: space-around;
      align-items: center;
      
  }
  .navigation-container a{
      margin-top: 0;
  }
